body {
  background-color: lightgrey;
}

#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

.clicked {
  font-size: 4em;
  font-weight: bolder;
  color: red;
}

.x {
  background-color: red;
  background-image: url('imgs/player1.jpg');
}

.o {
  background-color: blue;
}
