html {
  background:  url(https://media.giphy.com/media/LL8lkp4Mma2GY/giphy.gif) no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;
}

#board {
  margin-top: 10px;
}
.title {
  background: #127C22;
  color: white;
  font-size: 4em;
}

#scoreboard, #compDisplayPlayer {
  background: #CC5A1D;
  color: white;
  font-size: 3em;
}
#playerOneScoreBoard, #playerTwoScoreBoard {
  background: #127C22;
  color: white;
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}
.box {
  border: 1px solid black;
  height: 150px;
  background-color: white;
}

#reset2, #playComp {
  margin-top: 20px;
  background: #D72700;
  color: white;
  font-size: 3em;
}
.currLetter {
  font-size: 8em;
  font-weight: bolder;
  color: white;
  margin: 0 auto;
}

.x {
  background-image: url('https://media.giphy.com/media/11r9VKSIAFsKgU/giphy.gif');
  background-size: cover;
}

.o {
  background-image: url('https://media.giphy.com/media/8DFhygceJW8M/giphy.gif');
  background-size: cover;
}

.jumbotron {

}
#winimage, #drawimage {
  margin-bottom: 10px;
}

.wintotal {
  font-size: 2em;
  font-weight: bold;
  color: white;
}
#displayPlayer {
  margin-top: 10px;
  background: #D72700;
  color: white;
}
