html {
  background:  url(https://media.giphy.com/media/sQ5jimwRnCqkw/giphy.gif) no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;
}

#board {
  margin-top: 10px;
}
.title {
  background: blue;
  color: white;
  font-size: 8em;
}
.box {
  border: 1px solid black;
  height: 150px;
  background-color: white;
}

#reset2 {
  margin-top: 20px;
  background: blue;
  color: white;
  font-size: 3em;
}
.currLetter {
  font-size: 8em;
  font-weight: bolder;
  color: white;
  margin: 0 auto;
}

.x {
  background-color: red;
}

.o {
  background-color: blue;
}

.jumbotron {

}
#winimage {
  margin-bottom: 10px;
}
